apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 4
  strategy:
    canary:
      steps:
        - setWeight: 20
        - pause: 
            duration: 30s
        - setWeight: 50
        - pause: 
            duration: 30s
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: public.ecr.aws/w0g4t3k7/mypub:backend-v2
          ports:
            - containerPort: 8080

