apiVersion: apps/v1
kind: Deployment
metadata:
 name: Deployment-Frontend
 labels:
   app: Frontend
spec:
 replicas: 5
 selector:
   matchLabels:
     app: Frontend
 template:
   metadata:
     labels:
       app: Frontend
   spec:
     containers:
     - name: frontend
       image: public.ecr.aws/w0g4t3k7/mypub:frontend
       ports:
       - containerPort: 80










