apiVersion: apps/v1
kind: Deployment
metadata:
 name: Crud-Deployment
 labels:
   app: crud
spec:
 replicas: 5
 selector:
   matchLabels:
     app: crud
 template:
   metadata:
     labels:
       app: crud
   spec:
     containers:
     - name: frontend
       image: public.ecr.aws/w0g4t3k7/mypub:frontend
       ports:
       - containerPort: 80

      containers:
     - name: backend
       image: public.ecr.aws/w0g4t3k7/mypub:backend
       ports:
       - containerPort: 8080








